body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#ff5722;
color:white;
text-align:center;
padding:20px;
}

h2{
text-align:center;
}

.menu{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:20px;
}

.food{
background:white;
width:220px;
padding:15px;
border-radius:10px;
text-align:center;
box-shadow:0 0 6px gray;
}

.food img{
width:100%;
border-radius:10px;
}

button{
background:#ff5722;
color:white;
border:none;
padding:10px;
margin-top:10px;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:#e64a19;
}

.order-box{
background:white;
padding:20px;
width:300px;
margin:20px auto;
border-radius:10px;
box-shadow:0 0 6px gray;
}

input{
width:100%;
padding:8px;
margin:8px 0;
}

.rating{
text-align:center;
margin-top:20px;
}

footer{
background:#333;
color:white;
text-align:center;
padding:10px;
margin-top:30px;
}
