body{
font-family:Arial;
margin:0;
background:linear-gradient(135deg,#00c9ff,#92fe9d,#fddb92,#d1fdff);
}

/* header */

header{
text-align:center;
padding:20px;
background:#2c3e50;
color:white;
}

header input{
padding:8px;
margin-top:10px;
border-radius:5px;
border:none;
}

/* menu layout */

.menu{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:20px;
}

/* food card */

.food{
background:white;
width:220px;
padding:15px;
border-radius:12px;
text-align:center;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.food img{
width:100%;
height:140px;
object-fit:cover;
border-radius:10px;
}

button{
background:#3498db;
color:white;
border:none;
padding:8px 12px;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#2980b9;
}

.stars{
color:gold;
font-size:18px;
}

h2{
text-align:center;
color:#333;
}
